/* .webview {
    position:absolute;
    width:100%;
    top:0px;
    left:0px;
    right:0px;bottom:0px;
} */

.webviewiframe {
    position:absolute;
    width:100%;
    top: constant(safe-area-inset-top); /* iOS 11.0 */
    top: env(safe-area-inset-top); /* iOS 11.2 */
    left:0px;
    right:0px;
    bottom:0px;
    border: 0px;
    width:100%;
    z-index:0;
}

.menubutton {
    position:fixed;
    z-index:10;
    top: constant(safe-area-inset-top); /* iOS 11.0 */
    top: env(safe-area-inset-top); /* iOS 11.2 */
    left:20px;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
}

body {
    padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
    padding-top: env(safe-area-inset-top); /* iOS 11.2 */
}

.links a {
    margin-top:5px;
    width:100%;
}

.icon {
    width:16px;
    height:16px;
}

.mainmenu .list-group-item {
    background-color:#333;
}
.mainmenu .list-group-item a {
    color:#ddd;
}
.mainmenu .panel-heading {
    background-color:#555;
    color:#ddd;
}
